@main("シンプル☆アンケート") {
<div class="drop-shadow">
    <div class="enquete-metadata" data-bind="with: enquete">
        <div><strong>回答ページのリンク</strong></div>
        <a target="_blank" data-bind="attr: {href: answerLink}, text: answerLink"></a>
    </div>

    <div class="enquete" data-bind="with: enquete">
        <div class="page-header"><input type="text"
                                        class="title input-block-level"
                                        placeholder="アンケートのタイトル"
                                        data-bind="value: title"/></div>
        <div><textarea class="description input-block-level"
                       rows="2"
                       placeholder="アンケートの説明"
                       data-bind="value: description"></textarea></div>

        <div class="questions" data-bind="foreach: questions">
            <div class="question">
                <div class="question-header">
                    <ul class="breadcrumb">
                        <li>Q<span data-bind="text: $index() + 1"></span> <span class="divider">:</span></li>
                        <li><span class="label label-info" data-bind="text: questionType.description"></span></li>
                        <li class="pull-right">
                            <a href="#" class="close" title="削除" data-bind="click: $parent.removeQuestion">&times;</a>
                        </li>
                    </ul>
                </div>
                <div class="row" data-bind="if: questionType == QuestionType.SingleSelection">
                    <div class="span6">
                        <textarea class="input-block-level"
                                  rows="5"
                                  placeholder="よかったものを一つ選んでください"
                                  data-bind="value: description"></textarea>
                    </div>
                    <div class="span6">
                        <div class="questionOptions" data-bind="foreach: questionOptions">
                            <div>
                                <input type="text"
                                       class="input-block-level"
                                       placeholder="選択肢"
                                       data-bind="value: description"/>
                            </div>
                        </div>
                        <div>
                            <input type="text"
                                   class="input-block-level"
                                   placeholder="新しい選択肢"
                                   data-bind="value: newQuestionOption"/>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="if: questionType == QuestionType.MultipleSelection">
                    <div class="span6">
                        <textarea class="input-block-level"
                                  rows="5"
                                  placeholder="よかったものをすべて選んでください"
                                  data-bind="value: description"></textarea>
                    </div>
                    <div class="span6">
                        <div class="questionOptions" data-bind="foreach: questionOptions">
                            <div>
                                <input type="text"
                                       class="input-block-level"
                                       placeholder="選択肢"
                                       data-bind="value: description"/>
                            </div>
                        </div>
                        <div>
                            <input type="text"
                                   class="input-block-level"
                                   placeholder="新しい選択肢"
                                   data-bind="value: newQuestionOption"/>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="if: questionType == QuestionType.Numeric">
                    <div class="span6">
                        <textarea class="input-block-level"
                                  rows="5"
                                  placeholder="100点満点で点数を付けてください"
                                  data-bind="value: description"></textarea>
                    </div>
                    <div class="span6">
                        <input type="text"
                               class="pull-left"
                               placeholder="最小値"
                               data-bind="value: minValue"/>
                        <input type="text"
                               class="pull-right"
                               placeholder="最大値"
                               data-bind="value: maxValue"/>
                    </div>
                </div>
                <div class="row" data-bind="if: questionType == QuestionType.Text">
                    <div class="span6">
                        <textarea class="input-block-level"
                                  rows="5"
                                  placeholder="感想や意見をどうぞ"
                                  data-bind="value: description"></textarea>
                    </div>
                    <div class="span6">
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <ul class="nav nav-tabs nav-stacked" data-bind="foreach: QuestionType.values">
                <li>
                    <a href="#" data-bind="click: $parent.addQuestion($data)">
                        <i class="icon-chevron-right"></i>
                        <span data-bind="text: $data.description"></span>を追加する
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="enquete-submit update">
        <button type="button" class="btn btn-block" data-bind="click: update, enable: canUpdate">
            更新する
        </button>
    </div>
</div>
}
