@(enquete: models.FetchedEnquete)

@import helper._
@import models._

@main(enquete.enquete.title) {
<div class="drop-shadow">
    <div class="page-header"><h1>@enquete.enquete.title</h1></div>
    <p>@enquete.enquete.description</p>

    @form(action = routes.AnsweringController.answer(enquete.enquete.answerKey.value)) {
        <div class="enquete">
            @for((question, questionIndex) <- enquete.questions.zipWithIndex) {
                <div class="question">
                    <div class="question-header">
                        <ul class="breadcrumb">
                            <li><span class="label label-info">Q@(questionIndex + 1)</span> <span class="divider">:</span></li>
                            <li>@question.question.description</li>
                        </ul>
                    </div>
                    @question.question.questionType match {
                        case SingleSelection => {
                            @for(questionOption <- question.questionOptions) {
                                <label class="radio">
                                    <input type="radio" class="radio" name="@question.question.id" value="@questionOption.id" />
                                    @questionOption.description
                                </label>
                            }
                        }
                        case MultipleSelection => {
                            @for(questionOption <- question.questionOptions) {
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" name="@question.question.id" value="@questionOption.id" />
                                    @questionOption.description
                                </label>
                            }
                        }
                        case Numeric => {
                            <input type="text" class="text" name="@question.question.id" />
                        }
                        case Text => {
                            <textarea class="input-block-level" rows="5" name="@question.question.id" placeholder="自由記述"></textarea>
                        }
                    }
                </div>
            }
        </div>
        <div class="enquete-submit">
            <button type="submit" class="btn btn-block">送る</button>
        </div>
    }
</div>
}
