@(e: services.AdminService.EnqueteDto, answerKey: String)

@import helper._

@main(e.title) {
<div class="drop-shadow">
    <div class="page-header"><h1>@e.title</h1></div>
    <p>@e.description</p>

    @form(action = routes.Application.answerEnquete(answerKey)) {
        <div class="enquete">
            @for((q, qi) <- e.questions.zipWithIndex) {
                <div class="question">
                    <div class="question-header">
                        <ul class="breadcrumb">
                            <li><span class="label label-info">Q@(qi+1)</span> <span class="divider">:</span></li>
                            <li>@q.description</li>
                        </ul>
                    </div>
                    @for(o <- q.questionOptions) {
                        <label class="radio">
                            <input type="radio" class="radio" name="@q.id" value="@o.id" />
                            @o.description
                        </label>
                    }
                </div>
            }
        </div>
        <div class="enquete-submit">
            <button type="submit" class="btn btn-block">送る</button>
        </div>
    }
</div>

<div class="my-footer">
    simple enquete service &copy; hidetake.org, 2013.
</div>
}
