@main("シンプル☆アンケート") {
<div class="my-header">
    <h1>シンプル☆アンケート</h1>
</div>

<div class="drop-shadow">
    <div class="enquete" data-bind="with: enquete">
        <div><input type="text"
                    class="title input-block-level"
                    placeholder="タイトル"
                    data-bind="value: title"/></div>
        <div><textarea class="description input-block-level"
                       rows="2"
                       placeholder="概要"
                       data-bind="value: description"></textarea></div>

        <div class="questions" data-bind="foreach: questions">
            <div class="question">
                <div class="question-header">
                    <ul class="breadcrumb">
                        <li>Q<span data-bind="text: $index() + 1"></span> <span class="divider">:</span></li>
                        <li><span class="label label-info" data-bind="text: QuestionType[questionType()]"></span></li>
                        <li class="pull-right">
                            <a href="#" class="close" title="削除" data-bind="click: $parent.removeQuestion">&times;</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="span6">
                        <textarea class="input-block-level"
                                  rows="5"
                                  placeholder="質問"
                                  data-bind="value: description"></textarea>
                    </div>
                    <div class="span6">
                        <div class="questionOptions" data-bind="foreach: questionOptions">
                            <div>
                                <input type="text"
                                       class="input-block-level"
                                       placeholder="選択肢"
                                       data-bind="value: description"/>
                            </div>
                        </div>
                        <div>
                            <input type="text"
                                   class="input-block-level"
                                   placeholder="新しい選択肢"
                                   data-bind="value: newQuestionOption"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <ul class="nav nav-tabs nav-stacked" data-bind="foreach: Object.keys(QuestionType)">
                <li>
                    <a href="#" data-bind="click: $parent.addQuestion($data)">
                        <i class="icon-chevron-right"></i>
                        <span data-bind="text: QuestionType[$data]"></span>を追加する
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="enquete-submit save">
        <button type="button" class="btn btn-block" data-bind="click: save, enable: canSave">
            アンケートを作る
        </button>
    </div>
</div>

<div class="my-footer">
    simple enquete service &copy; hidetake.org, 2013.
</div>
}
