@(title: String)(content: Html)
@import play.api.libs.json.Json

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    </head>
    <body>
        <div class="container">
            @content
            <div class="my-footer">simple enquete service &copy; hidetake.org, 2013.</div>
        </div>

        <div class="loading" style="display: none;"></div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 200">
            <h4>更新しました</h4>
        </div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 404">
            <h4>見つかりません</h4>
            URLを確認してください。
        </div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 500">
            <h4>エラーです</h4>
            もう一度試してみてください。
        </div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 400">
            <h4>エラーです</h4>
            不正なリクエストです。
        </div>

        <script type="text/javascript">
var QuestionType = @Html(Json.stringify(Json.toJson(
    models.QuestionType.values.map { v =>
        (v.name, Map(
            "name" -> v.name,
            "description" -> (v match {
                case models.SingleSelection   => "単一選択の質問"
                case models.MultipleSelection => "複数選択の質問"
                case models.Numeric           => "数値を入力してもらう質問"
                case models.Text              => "自由記述の質問"
            })
        ))
    }.toMap
)));
QuestionType.keys = Object.keys(QuestionType);
QuestionType.values = QuestionType.keys.map(function(k){return QuestionType[k]});
        </script>

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/knockout-2.2.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.min.js")" type="text/javascript"></script>
    </body>
</html>
