@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    </head>
    <body>
        <div class="container">
            @content
        </div>

        <div class="loading" style="display: none;"></div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 200">
            <h4>更新しました</h4>
        </div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 404">
            <h4>見つかりません</h4>
            URLを確認してください。
        </div>
        <div class="notification" style="display: none;" data-bind="visible: status() == 500">
            <h4>エラーです</h4>
            もう一度試してみてください。
        </div>

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/knockout-2.2.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.min.js")" type="text/javascript"></script>
    </body>
</html>
